<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonny.projectapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SleepAnalysisScreen"
            android:label="@string/title_activity_sleep_analysis_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WakeUpScreen"
            android:label="@string/title_activity_wake_up_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SleepScreen"
            android:label="@string/title_activity_sleep_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SleepingScreen"
            android:label="@string/title_activity_sleeping_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentScreen"
            android:label="@string/title_activity_assessment_screen" />
        <activity
            android:name=".WeightScreen"
            android:label="@string/title_activity_analysis_screen" />
        <activity
            android:name=".InjuryScreen"
            android:label="@string/title_activity_injury_screen" />
        <activity
            android:name=".TestScreen"
            android:label="@string/title_activity_test_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NutritionScreen"
            android:label="@string/title_activity_nutrition_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>


</manifest>